<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to B-Trade</h1>

  <h2> A bitcoin exchange platform built on top of rails! </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
